body {
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
}

.wrapper {
    margin: auto;
    /* width: 980px; */
}

header {
    height: 250px;
    text-align: center;
    z-index: 999;
}

header image{
    margin:auto;
}
.menu {
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    position: sticky;
    top: 0px;
    
}

.content{
    display: flex;
    flex-direction: row-reverse;

}


.menu-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: auto;
    transition: 0.3s ease;
}

.menu-item:hover {
    color: aliceblue;
    text-decoration: underline;
}

.top-content {
    height: 175px;
}

.judul1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding-top: 50px;
    margin-bottom: 5px;
    color: #000000;
}

.judul2 {
    margin-top: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #000000;
}

.mid-content {
    padding: 50px;
    text-align: center;
}

#home-img {
    width: 400px;
    border: 5px solid black;
    transition: .3s ease-in-out;
}

#home-img:hover {
    transform: scale(1.1);
}

.mid-content p, li {
    text-align: justify;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(76, 59, 49);
}

.footer {
    height: 175px;
    display: flex;
}

.copyright {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(74, 53, 39);
    margin: auto;
    padding-bottom: 35px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.product {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 25px;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.product-img {
    width: 300px;
    margin-right: 25px;
    transition: .3s ease-in-out;
    border: 15px #000000;
    border-radius: 50px;
}

.product-img:hover {
    transform: scale(1.1);
}

.desc p{
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(74, 53, 39);
}

form {
    text-align: left;
    margin: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(145, 139, 139);
    font-family: Arial, Helvetica, sans-serif;
  }

  .gender {
    font-weight: normal;
    font-size: 20px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(145, 139, 139);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: rgb(145, 139, 139);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 15px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .checkbox {
    font-size: 20px;
  }

  iframe{
      border: 10px #000000;
      margin:auto;
      padding-top: 10px;
      

  }
